
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <h1>Homepage</h1>
    <p><a href="/Documento/ListarTudo">Listar Todos Documentos</a></p>
</body>
</html>
